---
layout: default
---

{% include hero.html %}

<!-- begin post -->
<div class="container">
  <article class="post animate">

    <div class="post__content">
      {{ content }}
    </div>

    {% include share.html %}

    {% include post-navigation.html %}

    {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

  </article>
</div>
<!-- end post -->

<script type="text/javascript">
  dataLayer.push({
    'event': 'viewPost',
    'post_title': '{{page.title}}',
    'type': 'post'
  });
  fbq('track', 'ViewContent', {
    content_ids: '{{page.title}}',
    content_type: 'post',
  });
</script>
